-i https://pypi.org/simple
boto3==1.35.95
boto3-stubs==1.35.95
check-jsonschema
-e ./cookbook/lib
# -e ../impresso-pipelines[mediasources]
impresso-pipelines[mediasources] @ https://github.com/impresso/impresso-pipelines/archive/refs/heads/mediasourcespipeline.zip
pipenv
python-dotenv
requests
smart-open[http,s3]==6.4.0
numpy==2.4.6
torch==2.12.0
transformers==5.9.0
