-i https://pypi.org/simple
boto3==1.35.95
boto3-stubs==1.35.95
check-jsonschema
-e ./cookbook/lib
impresso-pipelines[mediasources]
pipenv
python-dotenv
requests
smart-open[http,s3]==6.4.0
torch
transformers

