[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

python-dotenv = "*"
smart-open = {extras = ["s3"]}
boto3 = "==1.35.95"
jq = "*"
impresso-cookbook = {git = "https://github.com/impresso/impresso-make-cookbook.git", ref = "main", subdirectory = "lib"}

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
