-i https://pypi.org/simple
boto3==1.35.95; python_version >= '3.8'
botocore==1.35.99; python_version >= '3.8'
impresso-cookbook @ git+https://github.com/impresso/impresso-make-cookbook.git@ea94316982548b2c8ff18e827c651d19fc90a913#subdirectory=lib
jmespath==1.1.0; python_version >= '3.9'
jq==1.11.0; python_version >= '3.8'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
python-dotenv==1.2.2; python_version >= '3.10'
s3transfer==0.10.4; python_version >= '3.8'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
smart-open[s3]==7.6.1; python_version >= '3.10' and python_version < '4.0'
urllib3==2.7.0; python_version >= '3.10'
wrapt==2.2.1; python_version >= '3.9'
